<!--<div class="containercheckout">-->
<!--  <div class="contentcheckout">-->
<!--    <app-title title="Order Form" fontSize="1.6rem"></app-title>-->
<!--    <form [formGroup]="checkoutForm">-->
<!--      <text-input [control]="fc.name" label="Name"></text-input>-->
<!--      <text-input [control]="fc.address" label="Address"></text-input>-->
<!--    </form>-->
<!--    <order-items-list [order]="order"></order-items-list>-->
<!--  </div>-->
<!--  <div class="map">-->
<!--    <app-title-->
<!--    title="Choose Your Address On Map"-->
<!--    fontSize="1.6rem"></app-title>-->
<!--    <map [order]="order"></map>-->
<!--  </div>-->
<!--  <div class="buttons-container">-->
<!--    <div class="buttons">-->
<!--      <button (click)="createOrder()">-->
<!--        Go To Payment-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!-- Hero Section Begin -->
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
            <li><a href="#">Fresh Meat</a></li>
            <li><a href="#">Vegetables</a></li>
            <li><a href="#">Fruit & Nut Gifts</a></li>
            <li><a href="#">Fresh Berries</a></li>
            <li><a href="#">Ocean Foods</a></li>
            <li><a href="#">Butter & Eggs</a></li>
            <li><a href="#">Fastfood</a></li>
            <li><a href="#">Fresh Onion</a></li>
            <li><a href="#">Papayaya & Crisps</a></li>
            <li><a href="#">Oatmeal</a></li>
            <li><a href="#">Fresh Bananas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                All Categories
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="What do yo u need?">
              <button type="submit" class="site-btn">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+65 11.188.888</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg">
  <img src="assets/img/breadcrumb4.JPG">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Checkout</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Home</a>
            <span>Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->


<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="checkout__form">
      <div class="row">
        <div class="col-lg-8 col-md-6">
          <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
            here</a> to enter your code</h6>
          <h6 class="checkout__title">Billing Details</h6>
          <div class="checkout__input">
            <app-title title="Order Form" fontSize="1.6rem"></app-title>
            <form [formGroup]="checkoutForm">
              <text-input [control]="fc.name" label="Name"></text-input>
              <text-input [control]="fc.address" label="Address"></text-input>
            </form>
          </div>
          <div class="map">
            <app-title
              title="Choose Your Address On Map"
              fontSize="1.6rem"></app-title>
            <map [order]="order"></map>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="checkout__order">
            <h4 class="order__title">Your order</h4>
            <order-items-list [order]="order"></order-items-list>
            <button  class="site-btn" (click)="createOrder()">PLACE ORDER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Checkout Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a href="./index.html"><img src="assets/img/logo2.JPG" alt=""></a>
          </div>
          <ul>
            <li>Address: 60-49 Road 11378 New York</li>
            <li>Phone: +65 11.188.888</li>
            <li>Email: hello@colorlib.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <h6>Useful Links</h6>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">About Our Shop</a></li>
            <li><a href="#">Secure Shopping</a></li>
            <li><a href="#">Delivery infomation</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Our Sitemap</a></li>
          </ul>
          <ul>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Innovation</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__widget">
          <h6>Join Our Newsletter Now</h6>
          <p>Get E-mail updates about our latest shop and special offers.</p>
          <form action="#">
            <input type="text" placeholder="Enter your mail">
            <button type="submit" class="site-btn">Subscribe</button>
          </form>
          <div class="footer__widget__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__copyright">
<!--          <div class="footer__copyright__text"><p>&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p></div>-->
          <div class="footer__copyright__payment"><img src="assets/img/payment-item.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->



